body {
    background: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* Navbar Styling */
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 25px 0 25px;
    font-family: 'Raleway', sans-serif;
}

.navbar a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(10, 10, 10, .9);
}

.navbar .links {
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    min-width: 400px;
}

.navbar .links a {
    border-right: 1px solid rgba(10, 10, 10, .9);
    width: 16%;
    position: relative;
    text-align: center;
    color: rgba(10, 10, 10, .9);
}

.navbar .links a:hover {
    color: rgba(162, 154, 86, 1);
}

.navbar .links a:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 17.5%;
    width: 65%;
    height: 0;
    background: rgba(162, 154, 86, 1);
    transition: height .2s ease;
}

.navbar .links a:hover:before {
    height: 8px;
}

.navbar .links a:nth-child(2) {
    width: 22%;
}

.navbar .links a:nth-child(4) {
    width: 30%;
}

.navbar .links a:last-child {
    border-right: none;
}

.navbar .logo {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo img {
    width: 100%;
}

.navbar #navbar-toggler {
    font-size: 30px;
    cursor: pointer;
    z-index: 50;
}

.navbar #expanded-links {
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    right: -275px;
    top: 0;
    padding: 55px 0 0 0;
    width: 275px;
    transition: right .5s ease;
}

.navbar #expanded-links a {
    color: black;
    font-size: 14px;
    padding: 20px 15px 15px 0;
    width: 150px;
    margin: 0 40px 0 47px;
    position: relative;
}

.navbar #expanded-links a:before {
    content: "";
    background: rgba(10, 10, 10, .4);
    position: absolute;
    width: 150px;
    height: 1px;
    left: -5px;
    bottom: 0;
}

.navbar #expanded-links a:last-child {
    bottom: 40px;
    position: absolute;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px;
    transition: background .5s ease, color .5s ease;
}

.navbar #expanded-links a:last-child:hover {
    background: rgb(162, 154, 86);
    color: white;
}

.navbar #expanded-links a:last-child:hover:before, .navbar #expanded-links a:last-child:hover:after {
    background: rgb(162, 154, 86);
}

.navbar #expanded-links a:last-child:before {
    width: 100%;
    left: 0;
}

.navbar #expanded-links a:last-child:after {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background: rgba(10, 10, 10, .4);
    position: absolute;
}

.links-showing {
    right: 0 !important;
}


/* Slideshow Styling */
.slide {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide > * {
    position: relative;
    top: 40px;
}

.slide .h1 {
    position: relative;
    width: 200px;
    height: 70px;
}

.slide .h1 h1:nth-child(2) {
    opacity: 1;
    left: 0;
}

.slide .h1:after {
    content: "";
    width: 80%;
    height: 3px;
    background: black;
    position: absolute;
    bottom: 3px;
    left: 10%;
}

.slide h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    position: absolute;
    width: 100%;
    line-height: 80px;
    text-align: center;
    vertical-align: center;
    opacity: 0;
    left: 50px;
    transition: opacity .3s ease, left .5s ease;
}

.slide h3 {
    font-size: 25px;
    margin-bottom: -5px;
}

.slide a {
    font-size: 15px;
    margin-top: 10px;
}

.slide .cars {
    width: 300%;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.slide .cars-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 0;
    transition: left .5s ease;
}

.slide .cars img {
    cursor: pointer;
    width: 30%;
}

.slide .dots {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.slide .dots .dot {
    border: solid #cccccc 2px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background: none;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

.slide .dot.two {
    background: #cccccc;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .slide > * {
        top: -30px;
    }

    .slide .h1 {
        width: 250px;
        height: 80px;
    }

    .slide h1 {
        font-size: 60px;
    }

    .slide h3 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .slide a {
        font-size: 20px;
    }

    .slide .cars {
        margin-top: 0;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar .links {
        width: 40%;
    }

    .slide .cars {
        width: 3440px;
    }

    .slide .cars img {
        width: 959px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
